
<div class="container">
  <br><br><br>
  <h2>Register</h2>
  <form #userform="ngForm" (ngSubmit)="OnSubmit(userform)">

    <div *ngIf="HasError" class="alert alert-danger" role="alert">
        {{errorMsg.error | json}}
      </div>

    <div class="form-group">
      <label for="UserName">UserName:</label>
      <input type="text" class="form-control"  [class.is-invalid]="userName.invalid && userName.touched " [class.is-invalid]="userName.invalid && userName.touched " required #userName="ngModel" [(ngModel)]="userModel.userName" name="userName">
      <small class="text-danger"[class.d-none]="userName.untouched || userName.valid">User Name is required</small>
    </div>

    <div class="form-group">
      <label>Email address <span>*</span></label>
        <input type="text"  class="form-control" [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched " required #email="ngModel" [(ngModel)]="userModel.email" name="email">
        <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email address is required</small>
    </div>
    
    <div class="form-group">
        <p>Password<span>*</span></p>
        <input type="password" class="form-control"  [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="userModel.password" name="password" >
        <small class="text-danger"[class.d-none]="password.untouched || password.valid">Password is required</small>
    </div>

    <div class="form-group">
        <p>Confirm Password<span>*</span></p>
        <input type="password" class="form-control"  [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched " required #confirmPassword="ngModel" [(ngModel)]="userModel.confirmPassword" name="confirmPassword" >
        <small class="text-danger"[class.d-none]="confirmPassword.untouched || confirmPassword.valid">Confirm Password is required</small>
    </div>
     <br><br>
    <button type="submit" class="btn btn-info">Register</button>
    <br>
    <div class="text-center"><span>If you have account 
        <a href="/Login" id="login" > Sign in </a></span>
    </div>
  </form>
</div>
