<br><br><br><br>
<div class="container" >
    <h2>Email Confirmation</h2>
    <br><br>
      <form #ConfirmationForm="ngForm" (ngSubmit)="OnSubmit(ConfirmationForm)">
          <div *ngIf="HasError; then thenBlock"></div>
              <ng-template #thenBlock class="alert alert-danger" role="alert">
                  {{errorMsg.error | json}}
              </ng-template>
              <ng-template #elseBlock class="alert alert-success" role="alert">
                    Email is Confirmed
              </ng-template>
                <div class="form-holder">
                  <p>Email Address<span>*</span></p>
                  <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched" required #email="ngModel" [(ngModel)]="ConfirmationForm.email" name="email">
                  <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email Address is required</small>
                </div>
                <br>
                  <button type="submit" class="btn btn-info"> Confrim</button>
                    <br>
                <div class="text-center"><span>If you Confirmerd  Your Email
                  <a href="/Login" id="login" > Sign in </a></span>
                </div>
       </form>
  </div>
 
