
<div class="container" >
  <br><br><br>
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="OnSubmit(loginForm)">
      <div *ngIf="HasError" class="alert alert-danger" role="alert">
        {{errorMsg.error | json}}
      </div>
        <div class="form-holder">
            <p>Email address <span>*</span></p>
          <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched " required #email="ngModel" [(ngModel)]="loginuser.email" name="email">
          <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email Address is required</small>
        </div>
        <div class="form-holder">
            <p>Password<span>*</span></p>
          <input type="password" class="form-control"  [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="loginuser.password" name="password" >
          <small class="text-danger"[class.d-none]="password.untouched || password.valid">Password is required</small>
        </div>
        <br><br>
        <button type="submit" class="btn btn-info">Login</button>        
        
        <div class="text-center">
            <a href="/Register" id="login" > Create Account</a>
        </div>
      </form>
</div>
