

<div class="container" >
  <br><br> <br><br>
            <h2>Reset Password</h2>
            <br><br>
            <form #ResetPasswordForm="ngForm" (ngSubmit)="OnSubmit(ResetPasswordForm)">
              <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage.error | json}}
              </div>
                <div class="form-holder">
                  <p>Email Address<span>*</span></p>
                  <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched" required #email="ngModel" [(ngModel)]="resetModel.email" name="email">
                  <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email Address is required</small>
                </div>
                <div class="form-holder">
                    <p>New Password<span>*</span></p>
                    <input type="password" class="form-control"  [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="resetModel.password" name="password" >
                    <small class="text-danger"[class.d-none]="password.untouched || password.valid">Password is required</small>
                </div>
                <div class="form-holder">
                    <p>Confirm Password<span>*</span></p>
                    <input type="password" class="form-control"  [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched " required #confirmPassword="ngModel" [(ngModel)]="resetModel.confirmPassword" name="confirmPassword" >
                    <small class="text-danger"[class.d-none]="confirmPassword.untouched || confirmPassword.valid">Confirm Password is required</small>
                </div>
                <br><br>
                <button type="button" class="btn btn-info" [disabled]="!ResetPasswordForm.valid">Send</button>
               
                <br>
            </form>
        </div>
    

